
@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Neucha&display=swap');
*, *::before, *::after{
    box-sizing: border-box;
    /* border: 1px solid red; */
}
:root{
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}
body{
    font-family: 'Geo', sans-serif;
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: hsl(var(--hue), 100%, 20%);
}

body.correct{
    --hue: var(--hue-correct);
}
body.wrong{
    --hue: var(--hue-wrong);
}
.container{
    background-color: white;
    width: 80%;
    max-width: 80%;
    border-radius: 10px;
    padding: 2.5%;
    box-shadow: 0 8px 6px -6px black;
}
.btn-grid{
    display: grid;
    gap: 5%;
    margin: 10% 0 ;
}
.btn{
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 1.5% 2.5%;
    color: white;
    outline: none;
}

.btn:hover{
    border-color: black;
}
.btn.correct{
    --hue: var(--hue-correct);
    color: black;
}
.btn.wrong{
    --hue: var(--hue-wrong);
}
.start-btn, .next-btn{
    font-size: 24px;
    font-weight: bold;
    padding: 1.5% 6%;
    width: 30%;
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.hide{
    display: none;
}


